[submodule "Engine/ThirtyParty/SDL"]
	path = Engine/ThirtyParty/SDL
	url = https://bgithub.xyz/liuqibei/SDL.git
	branch = release-3.2.x
[submodule "Engine/ThirtyParty/spdlog"]
	path = Engine/ThirtyParty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Engine/ThirtyParty/tinyxml2"]
	path = Engine/ThirtyParty/tinyxml2
	url = https://github.com/liuqibei/tinyxml2.git
	branch = v10.0.0
